.container {
	display: flex;
	align-items: flex-start;
	column-gap: 20px;

	.nav, .content {
		display: flex;
		flex-flow: column;
		row-gap: 10px;
	}

	.nav {
		max-width: 150px;

		button {
			border-radius: 6px;
		}
	}

	.content {
		max-width: 700px;

		.card {
			display: flex;
			flex-flow: row wrap;
			gap: 25px 50px;
			margin: 0 auto;
			padding: 10px 25px 25px;
			border-radius: 10px;
		}

		.send {
			background-color: lightgreen;

			div:first-of-type, .message {
				font-family: cursive;
				font-size: xx-large;
				text-align: center;
			}

			div {
				flex: 100%;
			}

			div:nth-of-type(2), div:nth-of-type(3) {
				flex: 45%;
			}
		}
	}
}
