.container {
	max-width: 800px;
	background-color: lightgreen;
	display: flex;
	flex-flow: row wrap;
	gap: 25px 50px;
	padding: 25px;
	border-radius: 10px;

	div {
		flex: 100%;
	}

	div:nth-of-type(2), div:nth-of-type(3) {
		flex: 45%;
	}
}
