.container {
	max-width: 800px;
	background-color: lightgreen;
	display: grid;
	grid-template-areas:
	"header header"
	"left right"
	"footer footer";

	div:first-of-type {
		grid-area: header;
	}

	label:last-of-type, textarea {
		grid-area: footer;
	}
}
